<main class="main main__card row">


    {{>heading title="Інформація про замовлення" }}

    {{#with data.product}}  

  

            
            <div class="card">
                <div class="column">
                    <h3>ID: </h3> <br>
                    <p>{{id}}</p>  
                </div>
            </div>
               
            {{> divider}}    
                           
            <div class="card">
                <div class="column">

                    <h3>Ім'я:</h3>  <br>   
                    <p>{{firstname}}</p>              
                    
                </div>

                <div class="column">              

                    <h3>Прізвище: </h3> <br>  
                    <p>{{lastname}}</p> 
                    
                </div>
            </div>

            <div class="card">

                 <div class="column">

                    <h3>Телефон:</h3>  <br>   
                    <p>{{phone}}</p>              
                    
                </div>

                <div class="column">              

                    <h3>Пошта: </h3> <br>  
                    <p>{{email}}</p> 
                    
                </div>
                
            </div>
            
            {{> divider}}

            <div class="column">              

                    <h3>Назва товару: </h3> <br>  
                    <p>{{product.title}}</p> 
                    
            </div>

            <div class="column">              

                    <h3>Коментар: </h3> <br>  
                    <p>{{comment}}</p> 
                    
            </div>          

            {{> divider}}

            <div class="card">

                 <div class="column">

                    <h3>Вартість тоавру:</h3>  <br>   
                    <p>{{productPrice}}</p>              
                    
                </div>

                <div class="column">              

                    <h3>Вартість доставки: </h3> <br>  
                    <p>{{deliveryPrice}}</p> 
                    
                </div>
                
            </div>

            <div class="card">

                 <div class="column">

                    <h3>Сума до сплати:</h3>  <br>   
                    <p>{{totalPrice}}</p>              
                    
                </div>

                <div class="column">              

                    <h3>Нараховані бонуси: </h3> <br>  
                    <p>{{bonus}}</p> 
                    
                </div>
                
            </div>
            
            {{> divider}}
         
            <a href='/purchase-edit?id={{id}}'>{{> button text="Змінити дані"}} </a>  
 

    {{/with}}

</main>